<div class="box">
  <h1 class="box__heading">COMPANY</h1>
  <p class="box__welcome-message">Welcome back, please login to your account.</p>
  <form action="">
    <div class="input">
      <input type="text" placeholder="Email">
      <span class="input__hr"></span>
    </div>

    <a href="#" class="signup-reference">No account? Create one!</a>

    <button class="btn btn--bigger">Next</button>
  </form>

  <div class="legal">
    <a href="">Terms of use</a>.
    <a href="">Privacy Policy</a>
  </div>
</div>
