<div class="box" *ngIf="step === 'username'" [@FadeInOrOut]>
  <h1 class="box__heading">COMPANY</h1>
  <p class="box__welcome-message">Welcome back, please login to your account.</p>
  <form #usernameForm="ngForm" (ngSubmit)="enterPassword(usernameForm)">
    <div class="input" [ngClass]="{ error: email.invalid && usernameForm.submitted }">
      <input #emailInput type="text" placeholder="Email" name="email" [(ngModel)]="user.email" #email="ngModel" required email>
      <span class="input__hr"></span>
    </div>
    <span class="error__message">{{errorMessage}}</span>

    <a [routerLink]="['/register']" class="link signup-reference">No account? Create one!</a>

    <button class="btn btn--bigger">Next</button>
  </form>

  <div class="legal">
    <a class="link" href="">Terms of use</a>.
    <a class="link" href="">Privacy Policy</a>
  </div>
</div>

<div class="box" *ngIf="step === 'password'" [@FadeInOrOut]>
  <div class="load-bar" *ngIf="isLoading">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <h1 class="box__heading">COMPANY</h1>
  <p class="box__welcome-message">{{user.email}}</p>

  <h2>Enter password</h2>

  <form #passwordForm="ngForm" (ngSubmit)="login(passwordForm)">
    <div class="input" [ngClass]="{ disabled: isLoading, error: password.invalid && passwordForm.submitted }">
      <input [disabled]="isLoading" #passwordInput type="password" name="password" [(ngModel)]="user.password" #password="ngModel" placeholder="Password" required>
      <span class="input__hr"></span>
    </div>
    <span class="error__message">{{errorMessage}}</span>

    <div class="checkbox">
      <input id="stay-signed-in" type="checkbox">
      <label for="stay-signed-in">Keep me signed in</label>
    </div>

    <div class="column">
      <a class="link" [routerLink]="['/forgot-password']">Forgot my password</a>
      <a class="link" (click)="enterUsername()">Sign in with a different account</a>
    </div>

    <button [disabled]="isLoading" class="btn btn--bigger">Sign in</button>
  </form>

  <div class="legal">
    <a class="link" href="">Terms of use</a>.
    <a class="link" href="">Privacy Policy</a>
  </div>
</div>
