<div class="box" *ngIf="showForm" [@FadeInOrOut]>
  <div class="load-bar" *ngIf="isLoading">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <h1 class="box__heading">COMPANY</h1>
  <p class="box__welcome-message">Enter an email and we will send you a reset link.</p>
  <form *ngIf="!success" #emailForm="ngForm" (ngSubmit)="resetPassword(emailForm)">
    <div class="input" [ngClass]="{ disabled: isLoading, error: email.invalid && emailForm.submitted }">
      <input [disabled]="isLoading" #emailInput type="text" placeholder="Email" name="email" [(ngModel)]="userEmail" #email="ngModel" required email>
      <span class="input__hr"></span>
    </div>
    <span class="error__message">{{errorMessage}}</span>
    <button [disabled]="isLoading" class="btn btn--bigger btn--purple">Reset password</button>
  </form>
  <p *ngIf="success">A reset link was successfully sent to your email.</p>
  <a class="link login" [routerLink]="['/login']">I've remembered it. Let me sign in</a>
  <div class="legal">
    <a class="link" href="">Terms of use</a>.
    <a class="link" href="">Privacy Policy</a>
  </div>
</div>
