<div class="box" *ngIf="showForm" [@FadeInOrOut]>
  <h1 class="box__heading">COMPANY</h1>
  <p class="box__welcome-message">An email will be sent to you in order to reset your password.</p>
  <form #emailForm="ngForm" (ngSubmit)="resetPassword(emailForm)">
    <div class="input" [ngClass]="{ error: email.invalid && emailForm.submitted }">
      <input #emailInput type="text" placeholder="Email" name="email" [(ngModel)]="userEmail" #email="ngModel" required email>
      <span class="input__hr"></span>
    </div>

    <button class="btn btn--bigger btn--purple">Reset password</button>
  </form>

  <a class="link login" [routerLink]="['/login']">I've remembered it. Let me sign in</a>
  <div class="legal">
    <a class="link" href="">Terms of use</a>.
    <a class="link" href="">Privacy Policy</a>
  </div>
</div>
