@import './colors.less';

.input {
  display: flex;
  flex-direction: column;
  position: relative;

  &.error {
    .input__hr {
      background-color: @red;
      width: 100%;
    }
  }

  &.disabled {
    opacity: 0.5;
  }

  &.small {
    input[type="text"], input[type="password"], input[type="email"] {
      padding: 3px 0 5px 3px;
    }
  }

  input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px 0 10px 10px;
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
    border: none;
    border-bottom: solid 1px #cecfd0;

    font-family: SegoeUI, sans-serif;
    font-weight: normal;
    color: @black;

    font-size: 16px;


    &::-webkit-input-placeholder {
      color: @purple;
    }

    &::-moz-input-placeholder {
      color: @purple;
    }

    &::-ms-input-placeholder {
      color: @purple;
    }


    &:focus + .input__hr {
      width: 100%;
    }
  }

  .input__hr {
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: @light-purple;

    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s ease width;
  }
}

.checkbox {
  position: relative;
  text-align: left;

  &.error {
    label {
      color: @red;
    }
  }

  label {
    cursor: pointer;
    color: @purple;
    font-size: 14px;
    &:before, &:after {
      content: "";
      position: absolute;
      left:0;
      top: 5px;
    }

    &:before {
      // box
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      background: #fff;
      border: 1px solid @purple;
      border-radius: 4px;
      cursor: pointer;
      transition: background .3s;
    }

    &:after {
      // checkmark
    }
  }

  input[type="checkbox"] {
    outline: 0;
    margin-right: 10px;
    visibility: hidden;

    &:checked {
      + label:before{
        background: @purple;
      }
      + label:after {

        transform: rotate(-45deg);

        top: 9px;
        left: 4px;
        width: 6px;
        height: 4px;

        border: 1px solid @white;
        border-top-style: none;
        border-right-style: none;
      }
    }

    &:disabled {
      + label:before{
        border-color: #cecfd0;
      }
      &:checked {
        + label:before{
          background: #cecfd0;
        }
      }
    }
  }

}

