<div class="page">
  <div class="top-bar">
    <div class="search-input">
      <span class="icon-search"></span>
      <input type="text" placeholder="Search products">
    </div>
    <div class="user">
      <span class="name">{{user.firstName}} {{user.lastName}}</span>
      <div class="avatar" [ngStyle]="{ 'background-image': 'url(' + (user.profilePicture ? user.profilePicture : '') + ')'}">
        <i class="icon-user" *ngIf="!user.profilePicture"></i>
      </div>

      <div class="user__menu">
        <ul class="list">
          <li class="list__item"><a [routerLink]="['/user/settings']">Settings</a></li>
          <li class="list__item"><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="settings content-wrapper">
    <h1>Profile</h1>
    <div class="content">
      <div class="profile">
        <div class="row">
          <span class="section-name">{{user.username}}</span>
          <div class="characteristics">
            <span>Active</span>
            <span>User</span>
          </div>
        </div>
        <hr>

        <div class="row vertical-align-top">
          <div class="profile-picture">
            <div class="photo" [ngStyle]="{ 'background-image': 'url(' + (user.profilePicture ? user.profilePicture : '') + ')'}">
              <i class="icon-user" *ngIf="!user.profilePicture"></i>
            </div>
            <form>
              <div class="file-upload">
                <input id="profilePicture" type="file" (change)="changePhoto($event.target)" name="profilePicture" ngModel #profilePicture="ngModel" />
                <label for="profilePicture">
                  <span><i class="icon-upload"></i>{{user.profilePicture ? 'Change' : 'Add'}} photo</span>
                </label>
              </div>
            </form>
          </div>
          <div class="column details">
            <form #nameForm="ngForm" (ngSubmit)="updateUser(nameForm, 'name')" class="row">
              <span class="name" *ngIf="!inlineEditing['name']">{{user.firstName}} {{user.lastName}}</span>

              <div class="input small" *ngIf="inlineEditing['name']" [ngClass]="{ error: name.invalid && nameForm.submitted }">
                <input #nameInput type="text" placeholder="Full name" name="name" [(ngModel)]="user.name" #name="ngModel" required>
                <span class="input__hr"></span>
              </div>
              <button class="btn-with-icon">
                <span class="icon-edit"></span>
                Edit
              </button>
            </form>
            <form #emailForm="ngForm" (ngSubmit)="updateUser(emailForm, 'email')" class="row">
              <span class="email" *ngIf="!inlineEditing['email']">{{user.email}}</span>

              <div class="input small" *ngIf="inlineEditing['email']" [ngClass]="{ error: email.invalid && emailForm.submitted }">
                <input #emailInput type="text" placeholder="Email" name="email" [(ngModel)]="user.email" #email="ngModel" required email>
                <span class="input__hr"></span>
              </div>
              <button class="btn-with-icon">
                <span class="icon-edit"></span>
                Edit
              </button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
