<div class="menu">
  <div class="heading">COMPANY</div>
  <ul class="list">
    <li class="list__item">
      <a>
        <span class="icon-dashboard"></span>
        Dashboard
      </a>
    </li>
    <li class="list__item">
      <a>
        <span class="icon-public"></span>
        Public
      </a>
    </li>
    <li class="list__item">
      <a>
        <span class="icon-assigned"></span>
        Assigned
      </a>
    </li>
    <li class="list__item">
      <a>
        <span class="icon-private"></span>
        Private
      </a>
    </li>
    <li class="list__item">
      <a [routerLink]="['/user/settings']" [routerLinkActive]="['active']">
        <span class="icon-settings"></span>
        Settings
      </a>
    </li>
    <li class="list__item">
      <a>
        <span class="icon-help-center"></span>
        Help center
      </a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
