<div class="box" *ngIf="showForm" [@FadeInOrOut]>
  <div class="load-bar" *ngIf="isLoading">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <h1 class="box__heading">COMPANY</h1>
  <p class="box__welcome-message">Enter your new password.</p>
  <form #setPasswordForm="ngForm" (ngSubmit)="setPassword(setPasswordForm)">
    <div class="input" [ngClass]="{ disabled: isLoading, error: errors['password'] || (password.invalid && setPasswordForm.submitted) }">
      <input [disabled]="isLoading" type="password" placeholder="Password" name="password" [(ngModel)]="user.password" #password="ngModel" required>
      <span class="input__hr"></span>
    </div>
    <!--<span class="error__message">{{errors['password']}}</span>-->

    <div class="input" [ngClass]="{ disabled: isLoading, error: confirmPassword.invalid && setPasswordForm.submitted }">
      <input [disabled]="isLoading" type="password" placeholder="Confirm password" name="confirmPassword" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" required validateEqual="password">
      <span class="input__hr"></span>
    </div>
    <span class="error__message">{{errorMessage}}</span>

    <button [disabled]="isLoading" class="btn btn--bigger btn--purple">Reset password</button>
  </form>
  <a class="link login" [routerLink]="['/login']">I've remembered it. Let me sign in</a>
  <div class="legal">
    <a class="link" href="">Terms of use</a>.
    <a class="link" href="">Privacy Policy</a>
  </div>
</div>
