<div class="page">
  <div class="top-bar">
    <div class="search-input">
      <span class="icon-search"></span>
      <input type="text" placeholder="Search users" (keyup)='usersSubject.next($event.target.value)'>
    </div>
    <div class="user">
      <span class="name">John Doe</span>
      <div class="avatar"></div>
    </div>
  </div>
  <div class="content-wrapper">
    <h1>Users</h1>
    <div class="content">
      <div class="buttons">
        <button class="btn btn-small" (click)="updateUsers({active: true})">Set to Active</button>
        <button class="btn btn-small" (click)="updateUsers({active: false})">Suspend</button>
        <button class="btn btn-small" (click)="updateUsers({role: 'admin'})">Set to Admin</button>
        <button class="btn btn-small" (click)="updateUsers({role: 'user'})">Set to User</button>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th class="checkbox-cell">
              <div class="checkbox checkbox--big">
                <input id="select-all" type="checkbox">
                <label for="select-all"></label>
              </div>
            </th>
            <th class="index-cell">#</th>
            <th>USERNAME</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>PRIVILEGES</th>
            <th>STATUS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i=index">
            <td class="checkbox-cell">
              <div class="checkbox checkbox--big">
                <input id="select{{i + 1}}" type="checkbox" [(ngModel)]="user.selected">
                <label for="select{{i + 1}}"></label>
              </div>
            </td>
            <td class="index-cell">{{i + 1}}</td>
            <td>{{user.username}}</td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.privilege}}</td>
            <td>{{user.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
