/* You can add global styles to this file, and also import other style files */
@import "./assets/style/normalize.less";
@import "./assets/style/typography.less";
@import "./assets/style/colors.less";

body {
  font-family: SegoeUI, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.vertical-align-top {
  align-items: flex-start;
}

.error__message {
  font-size: 14px;
  color: @red;
}
